.cardbox {
    /* :root is not allowed */
    --card-min-height: 112px;
    --grid-gap: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--grid-gap);
    padding-block: 20px;
}

.card {
    --radius: 16px;
    position: relative;
    display: inline-flex;
    min-height: var(--card-min-height);

    flex-direction: column;
    justify-content: space-between;

    background: white;
    border: none;
    border-radius: var(--radius);
    border: 1px solid var(--black);

    text-decoration: none;
    transition: transform 300ms;

    &:has(> .preview) {
        grid-row: span 2;
    }
}

@media (hover: hover) {
    .card:hover {
        transform: scale(1.05) rotate(var(--rotate, 2deg));
        z-index: 10;
    }
}

.card:focus-visible {
    transform: scale(1.05) rotate(var(--rotate, 2deg));
    z-index: 10;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    flex-grow: 0;
}

.title {
    margin: 0 0 4px 0;
    line-height: 1em;
    text-wrap: balance;
}

.tags {
    line-height: 1;
}

.author {
    position: absolute;
    right: 0;
    top: 0;
    padding-inline: 10px;
    height: 32px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);

    font-weight: 700;
    color: var(--gray);
    padding-bottom: 3px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 4px;
    width: 100%;
    margin-block: 2px;
}

.month {
    height: 4px;
    width: 100%;
    &:nth-child(1) {
        background-color: var(--january);
    }
    &:nth-child(2) {
        background-color: var(--february);
    }
    &:nth-child(3) {
        background-color: var(--march);
    }
    &:nth-child(4) {
        background-color: var(--april);
    }
    &:nth-child(5) {
        background-color: var(--may);
    }
    &:nth-child(6) {
        background-color: var(--june);
    }
    &:nth-child(7) {
        background-color: var(--july);
    }
    &:nth-child(8) {
        background-color: var(--august);
    }
    &:nth-child(9) {
        background-color: var(--september);
    }
    &:nth-child(10) {
        background-color: var(--october);
    }
    &:nth-child(11) {
        background-color: var(--november);
    }
    &:nth-child(12) {
        background-color: var(--december);
    }
}

.preview {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: calc(1.5 * var(--card-min-height) + var(--grid-gap));
    border-top-left-radius: calc(var(--radius) - 1px);
    border-top-right-radius: calc(var(--radius) - 1px);
}

.no-preview {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    & svg {
        width: 40px;
        height: 40px;
        color: transparent;
        /* color: var(--gray); */
    }

    & ~ .card-content {
        padding-top: 0;
    }
}

.search-result-count {
    text-align: right;
}

.github {
    display: inline;
    margin-left: 0.25em;
    height: 1em;
}

.favorite {
    position: absolute;
    left: 0;
    top: 0;
    padding-inline: 8px;
    height: 32px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-right-radius: var(--radius);
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    border-left: 1px solid white;
    border-top: 1px solid white;

    font-weight: 700;
    color: var(--gray);
    transform: translate(-1.3px, -1.3px);

    & svg {
        width: 20px;
    }
}

@media (width < 560px) {
    .cardbox {
        grid-template-columns: minmax(0, 1fr);
    }
    .author {
        opacity: 1;
    }
}
